.contactus-page {
    margin-top: 60px;
}

.new-subheader {
    position: relative;
    box-shadow: 0px 4px 40px 0px #0000000D;
}

.new-subheader .nav-link {
    color: #000000;
}

.new-subheader .shop-link {
    color: #000000;
}

.new-subheader .search-bar input {
    background-color: #F5F5F5;
    color: #000;
}

.new-subheader .search-bar button {
    background-color: #000;
}

.new-subheader .search-bar button .search-icon {
    color: #ffffff;
}