/* Contact-Section */
.contact-container {
  padding: 20px;
  background-color: #FCE8E9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-container h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 4px;
  text-align: center;
}

.contact-underline {
  margin: 0 auto;
  margin-top: -4px;
  margin-bottom: 30px;
  display: block;
}

.contact-container h2 span {
  font-weight: 700;
  font-size: 28px;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 16px;
  width: 100%;
  max-width: 1200px;
  height: auto;
  box-shadow: 3px 10px 40px 0px #0000000D;
}

/* Contact Form */
.contact-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.form-group input,
.form-group textarea {
  padding: 18px 16px;
  border: none;
  border-radius: 8px;
  background-color: #F5F5F5;
  width: 100%;
  box-sizing: border-box;
}

.form-group textarea {
  resize: none;
  height: 190px;
}

.contact-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  background-color: #E31E24;
  color: #fff;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Contact Map */
.contact-map {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-top: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: absolute;
  background: #000;
  color: #fff;
  padding: 24px 16px;
  width: 260px;
  height: 162px;
  top: 20px;
  left: 20px;
  border-radius: 16px;
}

.contact-details p {
  display: flex;
  gap: 10px;
}

.contact-details p img {
  object-fit: contain;
}

.map iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

/* Responsive Design */
@media (max-width: 480px){
  .contact-content {
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
    box-shadow: none;
  }

  .contact-form {
    width: 100%;
  }

  .contact-map {
    width: 100%;
  }

  .map iframe {
    width: 320px;
  }

  .contact-details {
    background-color: #193F72;
  }

}

@media (max-width: 768px) {
  .contact-container {
    padding: 20px;
  }

  .contact-content {
    max-width: 1000px;
    gap: 10px;
  }

  .contact-form {
    width: 50%;
  }

  .contact-map {
    width: 50%;
    margin-top: 8px;
  }

  .form-group{
    width: 100%;
    max-width: 320px;
  }

  .map iframe {
    height: 450px;
  }

  .contact-btn {
    max-width: 320px;
  }


}


.contactus-page {
    margin-top: 60px;
}

.new-subheader {
    position: relative;
    box-shadow: 0px 4px 40px 0px #0000000D;
}

.new-subheader .nav-link {
    color: #000000;
}

.new-subheader .shop-link {
    color: #000000;
}

.new-subheader .search-bar input {
    background-color: #F5F5F5;
    color: #000;
}

.new-subheader .search-bar button {
    background-color: #000;
}

.new-subheader .search-bar button .search-icon {
    color: #ffffff;
}



@media (max-width: 768px) {
    
}


/* Mobile Specific Styles */

@media (max-width: 480px) {

  .contact-content {
    display: flex;
    flex-direction: column;
  }
    
}