 /* Product-Section */

  .favorite-icon {
    position: absolute;
    top: 40px;
    right: 30px;
    font-size: 24px;
    color: #e63946;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 2;
  }
  
  .favorite-icon.fas {
    color: #e63946; 
  }
  
  .product-head {
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product-head h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  
  .product-head h2 span {
    font-weight: 700;
    font-size: 28px;
  }
  
  .product-underline {
    margin-bottom: 20px;
  }
  
  .product-card-container {
    background-color: #FCE8E9;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .product-card {
    position: relative;
    width: 336px;
    height: 427px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 40px 0px #0000001A;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-image-container {
    position: relative;
    overflow: hidden;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover .product-image {
    transform: scale(1.1);
  }
  
  /* Hide the product info on hover */
  .product-info {
    opacity: 1;
    width: 294px;
    height: 106px;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 16px;
    margin-top: -70px;
  }
  
  .product-card:hover .product-info {
    opacity: 0;
    visibility: hidden;
  }
  
  .product-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-card:hover .product-buttons {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
  
  .view-product-button,
  .add-to-cart-button {
    width: 90%;
    background-color: #fff;
    border: 1px solid #E31E24;
    color: #E31E24;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .plus-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 2px;
    background-color: #E31E24;
    color: #fff;
  }
  
  
  .view-product-button:hover,
  .add-to-cart-button:hover {
    background-color: #E31E24;
    color: #fff;
  }
  
  .product-name {
    font-size: 19px;
    font-weight: 700;
    text-decoration: underline;
    line-height: 28.69px;
    color: #333;
  }
  
  .product-price {
    color: #E31E24;
    font-size: 23px;
    font-weight: 700;
    margin-top: 0px;
  }
  
  .view-all-container {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  
  .view-all-btn {
    width: 305px;
    height: 54px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #E31E24;
    border: 1px solid #E31E24;
    color: #ffffff;
  }
  
  .view-all-btn:hover {
    background-color: #E31E24;
    color: #ffffff;
  }
  
  .image-indicator {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .indicator-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .indicator-dot.active {
    background-color: #E31E24;
  }

  /* Product Page */

.product-page-container {
  width: 100%;
  padding: 20px;
  margin-top: 60px;
}

.breadcrumb span {
  color: #4682B4;
}

.breadcrumb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 40px 10px 55px;
}

.sort-by, 
select {
  background-color: #F5F5F5;
  padding: 5px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
}

/* Product-Filters */

.filters-container {
  display: flex;
  flex-direction: column;
  width: 22%;
  background: #ffffff;
  padding: 20px;
  gap: 20px;
}

.filter-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-tag {
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.close-icon {
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

.price-range {
  width: 100%;
  margin-bottom: 40px;
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  padding: 7px;
  background: #fbe1e1;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  border-radius: 20px;
  position: relative;
}

.price-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 32px;
  background: #E31E24;
  cursor: pointer;
  position: relative;
}

.price-range::before,
.price-range::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #E31E24;
  border-radius: 50%;
}

.price-range::before {
  left: 0;
  margin-left: 5px;
}

.price-range::after {
  right: 0;
  margin-right: 5px;
}

.searchInput {
  display: flex;
  align-items: center;
  height: 44px;
  background: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 20px;
}

.searchInput input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  padding: 5px;
  margin-left: 10px;
  color: #666666;
}

.searchIcon {
  margin-right: 10px;
  color: gray; 
  width: 19px;
  height: 19px;
}

.filter-options {
  display: flex;
  width: 288px;
  flex-wrap: wrap;
  gap: 20px;
  color: #666666;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  gap: 20px;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #EE777B;
  border: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #c4c2c2;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #E31E24;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}




/* ProductList */
.product-list-container {
  width: 73%;
  padding: 20px;
  background-color: #FCE8E9;
}

.sort-by {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

  

.productpage-subheader {
    position: relative;
    box-shadow: 0px 4px 40px 0px #0000000D;
}

.productpage-subheader .nav-link {
    color: #000000;
}

.productpage-subheader .shop-link {
    color: #000000;
}

.productpage-subheader .search-bar input {
    background-color: #F5F5F5;
    color: #000;
}

.productpage-subheader .search-bar button {
    background-color: #000;
}

.productpage-subheader .search-bar button .search-icon {
    color: #ffffff;
}

  