/* For webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Header-Section */

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 36px;
  background-color: #000000;
  height: 73px;
  color: white;
}

.header-call, .header-mail, .header-cart, .header-login {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-call {
  margin-left: 20px;
}

.header-login {
  margin-right: 20px;
}

.contact-info, .user-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-cart {
  border: 2px solid #F5F5F5;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.header-login {
  background-color: var(--color-white);
  color: #000;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 75px;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background: transparent;
  transition: background 0.3s;
}

.logo img {
  width: 202px;
  height: 43px;
  margin-left: 50px;
}

.search-bar {
  position: relative;
  flex-grow: 1;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  width: 655px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  backdrop-filter: blur(10px);
  color: #ffffff;
}

.search-bar button {
  position: absolute;
  right: 160px;
  padding: 10px;
  border: none;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar.scrolled input {
  background-color: #F5F5F5;
  color: #000;
}

.search-bar.scrolled button {
  background-color: #000;
}

.nav-link.scrolled, .shop-link.scrolled {
  color: black;
}

.nav-link {
  margin-right: 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-top: -8px;
}

.shop-link {
  display: flex;
  margin-right: 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.nav-arrow {
  margin-top: -2px;
  height: 35px;
  width: 35px;
}

.sub-header {
  position: fixed;
  top: 73px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: transparent;
  transition: background 0.3s;
  z-index: 999;
}

.sub-header.scrolled {
  background: white;
}

/* Hero-Section */

.hero-section {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
  background: url('../assets/Banner1.png') no-repeat center center/cover;
  overflow: hidden;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(43.58deg, #000000 1.24%, rgba(83, 83, 83, 0) 98.76%);
  z-index: 1;
  pointer-events: none;
}

.hero-section h1, p {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.head1 {
  width: 700px;
  font-size: 48px;
  font-weight: 700;
  line-height: 67.2px;
}

.para1 {
  width: 600px;
  font-size: 19px;
  font-weight: 400;
  line-height: 26.6px;
  padding-bottom: 30px;
}

.banner-btn {
  display: flex;
  gap: 10px;
}

.contact-button {
  width: 260px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 19px;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  color: var(--color-white);
  cursor: pointer;
  position: relative;
  z-index: 2;
  background-color: transparent;
}

.shop-button {
  width: 260px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 19px;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  background-color: var(--color-secondary);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.content-section {
  margin-top: 250px;
  padding: 20px;
  margin-left: 30px;
}

/* DownArrow.css */

.down-arrow {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  animation: bounce 2s infinite;
  z-index: 2;
  margin-left: 1400px;
  margin-bottom: 100px;
}

.down-arrow.up img {
  transform: rotate(180deg);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}


    /* Category-Section */

    .shop-by-category {
      text-align: center;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    
    .shop-by-category h2 {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 4px;
    }
    
    .shop-by-category h2 span {
      font-weight: 700;
      font-size: 28px;
    }
    
    .categories {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 73px;
    }
    
    .category-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      padding: 10px;
      cursor: pointer;
    }
    
    .category-image {
      width: 167px;
      height: 167px;
      border-radius: 50%;
      object-fit: cover;
      transition: none;
    }
    
    .category-item.selected .category-image,
    .category-item:hover .category-image {
      border: 5px solid var(--color-secondary); 
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
      transform: none;
      transition: none;
    }
    
    .category-item p {
      margin-top: 10px;
      font-size: 16px;
      color: #333;
    }
    

   /* About-Section */


.why-choose-us {
  text-align: center;
  width: 100%;
}

.why-choose-us h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 4px;
}

.why-choose-us h2 span {
  font-size: 28px;
  font-weight: 700;
}

.about-underline {
  margin-bottom: 40px;
}
.why-choose-us .benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.benefits {
  position: relative;
  background: url('../assets/about.png') no-repeat center center/cover;
  overflow: hidden;
  width: 100%;
  height: 290px;
  
}

.benefits::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.benefit-item {
  text-align: center;
}

.benefit-item img {
  width: 100px;
  height: 100px;
}

.benefit-item p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

  /* Product-Section */

  /* Additional CSS for the heart icon */
.favorite-icon {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 24px;
  color: #e63946;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 2;
}

.favorite-icon.fas {
  color: #e63946; /* Color when favorited */
}

.product-head {
  text-align: center;
  padding: 30px;
}

.product-head h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 4px;
}

.product-head h2 span {
  font-weight: 700;
  font-size: 28px;
}

.product-underline {
  margin-bottom: 20px;
}

.product-card-container {
  background-color: #FCE8E9;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  position: relative;
  width: 336px;
  height: 427px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 40px 0px #0000001A;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image-container {
  position: relative;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.product-card:hover .product-image {
  transform: scale(1.1);
}

/* Hide the product info on hover */
.product-info {
  opacity: 1;
  width: 294px;
  height: 106px;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  padding: 16px;
  margin-top: -70px;
}

.product-card:hover .product-info {
  opacity: 0;
  visibility: hidden;
}

.product-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card:hover .product-buttons {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.view-product-button,
.add-to-cart-button {
  width: 90%;
  background-color: #fff;
  border: 1px solid #e63946;
  color: #e63946;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.plus-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 1px;
  background-color: #e63946;
  color: #fff;
}


.view-product-button:hover,
.add-to-cart-button:hover {
  background-color: #e63946;
  color: #fff;
}

.product-name {
  font-size: 19px;
  font-weight: 700;
  text-decoration: underline;
  line-height: 28.69px;
  color: #333;
}

.product-price {
  color: #e63946;
  font-size: 23px;
  font-weight: 700;
  margin-top: 0px;
}

.view-all-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.view-all-btn {
  width: 305px;
  height: 54px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #e63946;
  border: 1px solid #e63946;
  color: #ffffff;
}

.view-all-btn:hover {
  background-color: #fd4d4d;
  color: #ffffff;
}

.image-indicator {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.indicator-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator-dot.active {
  background-color: #EE777B;
}

  
  /* Testimonial-Section */
 
  .testimonial-section {
    text-align: center;
    color: white;
    background: url('../assets/testimonialback.png') no-repeat center center/cover;
    overflow: hidden;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .testimonial-section h1 {
    margin-top: 90px;
    font-size: 34px;
    font-weight: 700;
  }
  
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }
  
  .slider-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: -100px;
  }
  
  .testimonial-card-container {
    display: flex;
    margin-bottom: 100px;
  }
  
  .testimonial-card {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 540px;
    margin: 0 10px;
    color: white;
  }

  .profile-container {
    background: url('../assets/comma.png');
    width: 226px;
    height: 226px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    width: 113px;
    height: 165px;
    text-align: left;
  }
  
  .card-header {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    position: relative;
    width: 125px;
    height: 125px;
    object-fit: cover;
    object-position: center;
    margin-left: -80px;
    border-radius: 10px;
  }
  
  .name {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
  }
  
  .position {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #aaa;
  }
  
  .stars {
    height: 16px;
    margin-top: 5px;
    color: #F26349;
  }
  
  .card-text {
    margin-left: 20px;
    text-align: start;
    font-size: 0.9rem;
    color: #ffffff;
  }
  

    /* Contact-Section */
  
.contact-container {
  padding: 20px;
  background-color: #FCE8E9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 4px;
}

.contact-underline {
  margin-left: -45px;
  margin-top: -4px;
  margin-bottom: 30px;
}

.contact-container h2 span {
  font-weight: 700;
  font-size: 28px;
}

.contact-content {
  display: flex;
  background-color: #FFFFFF;
  padding: 0px 16px 0px 16px;
  border-radius: 16px;
  width: 1110px;
  height: 512px;
  box-shadow: 3px 10px 40px 0px #0000000D;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }
}

/* Contact Form  */

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.form-group {
  display: flex;
  gap: 23px;
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 18px 16px 18px 16px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  background-color: #F5F5F5;
}

.form-group textarea {
  resize: none;
  height: 190px;
}

button {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  background-color: #E31E24;
  color: #fff;
  padding: 16px 24px 16px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


/* Contact Map  */

.contact-map {
  position: relative;
  flex: 1;
  padding: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: absolute;
  background: #000;
  color: #fff;
  padding: 24px 16px 24px 28px;
  width: 320px;
  height: 162px;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 16px;
}

.contact-details p {
  display: flex;
  gap: 4px;
}

.contact-details p img {
  object-fit: contain;
}

.map {
  overflow: hidden;
  width: 524px;
}

  /* Footer-Section */

  .footer {
    background-color: #141414;
    color: #fff;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .footer-content {
    width: 80%;
    display: flex;
    align-items: start;
  }
  
  .footer-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .about {
    margin-top: 15px;
  }

  .logo {
    width: 206px;
    height: 44px;
    margin-left: -15px;
    margin-bottom: 10px;
  }

  .footer-section h2 {
    font-size: 19px;
    font-weight: 500;
    margin-left: -25px;
    margin-bottom: 20px;
  }

  .footer-section h2 span {
    font-weight: 600;
  }

  .footer-section h3 {
    margin-bottom: 10px;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-section p,
  .footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 30px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }

  .contact {
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .cnt-head {
    font-size: 16px;
  }

  .cnt-socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .cnt-phone, .cnt-mail {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  
    .footer-section {
      margin-bottom: 20px;
    }
  }
  